<!DOCTYPE html>
<html>
    <head>
        <title>Falling Numbers</title>
        <meta charset="UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="user-scalable=0, initial-scale=1, minimum-scale=1, maximum-scale=1, width=device-width, minimal-ui=1">
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="stylesheet" href="lib/bootstrap-3-1-1/css/bootstrap.min.css">
    </head>
    <body>
        <div id="contenido-inicio" class="container contenido-inicio">
        </div>

        <script id="inicioTemplate" type="text/template">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h1>Nivel {{idNivel}}</h1>
                    <h2>Objetivos</h2>
                    <ul class="list-unstyled lista-objetivos">
                    {{#objetivos}}
                        <li>{{puntajeReferencia}}   </li>
                    {{/objetivos}}
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <a id="volver-boton" class="btn btn-danger btn-lg">Volver</a>
                    <a id="empezar-boton" class="btn btn-danger btn-lg">Empezar</a>
                </div>
            </div>
        </div>
        </script>

        <script type="text/javascript" src="lib/phaser/phaser.min.js"></script>
        <script type="text/javascript" src="lib/jquery/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="lib/mustache/mustache.min.js"></script>
        <script type="text/javascript" src="js/app/app.js"></script>
        <script type="text/javascript" src="js/app/util/util.js"></script>
        <script type="text/javascript" src="js/app/plataforma/Plataforma.js"></script>
        <script type="text/javascript" src="js/app/domain/Pelota.js"></script>
        <script type="text/javascript" src="js/app/domain/Objetivo.js"></script>
        <script type="text/javascript" src="js/app/domain/Marcador.js"></script>
        <script type="text/javascript" src="js/app/domain/PopupResultado.js"></script>        
        <script type="text/javascript" src="js/app/nivel/Nivel.js"></script>
        <script type="text/javascript" src="js/app/ui/juego/juego.js"></script>
    </body>

</html>
