<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="lib/bootstrap-3-1-1/css/bootstrap.min.css">
        <link rel="stylesheet" href="lib/slick/slick.css">
        <link rel="stylesheet" href="css/estilos.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="contenedor-titulo-inicial">
                    <h1>Mundo</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 contenedor-mundo"></div>
            </div>
            <div class="row">
                <a href="index.html">
                    <img src="img/botonAtras.png" alt="Volver">
                </a>
            </div>
        </div>

        <script id="templateMundo" type="text/template">
            {{#niveles}}
            <div class="fondo-boton-mundo">
            <a href="selectorNiveles.html?mundo={{.}}">
            {{.}}
            <img src="img/mundo-rojo.png">
            </a>
            </div>
            {{/niveles}}
        </script>
        <script type="text/javascript" src="lib/jquery/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="lib/mustache/mustache.min.js"></script>
        <script type="text/javascript" src="lib/slick/slick.min.js"></script>

        <script type="text/javascript" src="js/app/app.js"></script>
        <script type="text/javascript" src="js/app/ui/selectorMundo/SelectorMundo.js"></script>

    </body>
</html>
