<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="lib/bootstrap-3-1-1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/estilos.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-1 col-md-offset-1">
                    <div class="row contenedor-niveles">
                        <div id ="templates" ></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <a href="index.html">
                    <img src="img/botonAtras.png" alt="Volver">
                </a>
            </div>
        </div>

        <script id="templateNivel" type="text/template">
            <div class="row">
            {{#niveles}}
            <div class="col-lg-4 col-md-1 col-sm-1 col-xs-4">
            <div class="fondo-boton-nivel">
            <a href="juego.html?mundo=1&nivel={{.}}">
            {{.}}
            </a>
            </div>
            </div>
            {{/niveles}}
            </div>    
        </script>
        <script type="text/javascript" src="lib/jquery/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="lib/mustache/mustache.min.js"></script>
        <script type="text/javascript" src="js/app/app.js"></script>
        <script type="text/javascript" src="js/app/ui/selectorNiveles/SelectorNiveles.js"></script>

    </body>
</html>
