html, body {
/*    height: 100%;
    margin: 0px;*/
}
.contenedor-titulo-inicial{
    text-align: center;
}
.contenedor-menu-inicial{
    text-align: center;
    margin-top: 20%;
}
.fondo-boton-nivel{
    position: relative;
    width: 50px;
    height: 50px;
    margin:10px;
    padding-top: 10px;
    background: url('../img/pelota.png');
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}
.fondo-boton-nivel a{
    width: 100%;
    color: #000;
}
.texto-boton-nivel{
    position: absolute;
    margin-top: 10px;
}
.contenedor-mundo.slick-slider{
    margin-bottom: 10px;
}
.fondo-boton-mundo{
    margin:10px;
    padding-top: 10px;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}
.fondo-boton-mundo a{
    width: 100%;
    color: #000;
}
.fondo-boton-mundo img{
    height: 100%;
    width: 100%;
}

.contenido-inicio{
    height: 100%;
}
.lista-objetivos{
    font-size: 2em;
}